<!DOCTYPE html>
<html>
    <head>
        <script src="http://fb.me/react-0.12.2.js"></script>
        <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    </head>
<body>

<div id="messenger">

</div>

  <script type="text/jsx">
    /** @jsx React.DOM **/

  //an individual contact component
  var Contact = React.createClass({
    render: function(){
      return (
        <p>{this.props.contact.username}</p>
      );
    }
  });

  //the component for the list for all the contacts
  var ContactContainer = React.createClass({
    render: function(){
      contacts = this.props.contacts.map(function(contact){
        return <Contact key={contact.username} contact={contact} />
      })

      return (
        <div>
          <h4>Contacts</h4>
          <div>
            {contacts}
          </div>
        </div>
      )
    }
  })

  //the component for an individual username in a conversation
  var User = React.createClass({
    render: function(){
      return (
        <div>{this.props.message.from}: </div>
      );
    }
  })

  //the component for an individual message in a conversation
  var Message = React.createClass({
    render: function(){
      return (
        <div>{this.props.message.text}</div>
      );
    }
  })

  //the component for submitting a new message
  var NewMessage = React.createClass({
    render: function(){
      return (
        <div>
          <input type='text'></input>
          <button>Send</button>
        </div>
      )
    }
  })

  //the component for the entire conversation
  //and the new message box
  var Conversation = React.createClass({
    render: function(){
      conversation = this.props.conversation.map(function(message){
        return <p><User key={message.from} message={message} /><Message key={message.text} message={message} /></p>
      })

      return (
        <div>
          {conversation}
          <NewMessage /> 
        </div>
        ) 
    }
  })

  var Messenger = React.createClass({
    render: function(){
      return (
        <div>
          <ContactContainer contacts={contacts} />
          <Conversation conversation={messages[1]['Helen of Troy']} />
        </div>
      )
    }
  })



  //sample data
  var contacts = [
    {"username": "Shady Pete"},
    {"username": "Helen of Troy"}
  ]

  var messages = [
    {'Shady Pete': [
      {
        'to': 'Shady Pete',
        'from': 'User',
        'text': 'You got the goods?'
      }
    ]},
    {'Helen of Troy': [
      {
        'to': 'User',
        'from': 'Helen of Troy',
        'text': 'Wassup?'
      },
      {
        'to': 'Helen of Troy',
        'from': 'User',
        'text': 'Not much.'
      }
    ]}
  ]

   React.renderComponent(<Messenger />, document.getElementById('messenger'));
  //React.renderComponent(<ContactContainer contacts={contacts} />, document.getElementById('messenger'));
  </script>
</body>
</html>